

.container {
display: flex;
justify-content: center;
align-items: center;
}

#check-mark:hover{
animation: stroke-color 2s linear alternate;
}


@keyframes stroke-color {
    10% {
        stroke: blue;
    }

    20% {
        stroke: yellow;
    }
}